.footer {
  background-color: $color-dark;
  color: $color-default-white;
  padding-top: 50px;
  padding-bottom: 55px;

  @include vp-1023 {
    padding-bottom: 65px;
  }

  @include vp-767 {
    padding: 35px 0;
  }
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;

  @include vp-1023 {
    flex-direction: column;
  }

  @include vp-767 {
    border-bottom: 1px solid rgba(248, 253, 255, 0.7);
  }
}

.footer__inner {
  margin-right: 30px;

  @include vp-1023 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
    margin-right: 0;
  }

  @include vp-767 {
    flex-direction: column;
    margin-bottom: 20px;
  }
}

.footer__inner img {
  min-width: 215px;
}

.footer__accordions {
  display: flex;
  flex-wrap: wrap;
  width: 845px;
  margin-top: 8px;

  @include vp-1023 {
    justify-content: space-between;
    width: 100%;
    margin-top: 0;
  }

  @include vp-767 {
    flex-direction: column;
  }
}

.footer__social {
  margin-top: 35px;

  @include vp-1023 {
    margin-top: 0;
  }

  @include vp-767 {
    margin-top: 20px;
  }
}

.footer__contacts .footer__list {
  grid-template-columns: auto;
  margin-right: 40px;

  @include vp-1023 {
    margin-right: 15px;
  }
}

.footer__nav .footer__list {
  grid-auto-flow: column;
  grid-template-rows: repeat(4, auto);
}

.footer__nav {
  margin-right: auto;

  @include vp-1023 {
    width: auto;
  }

  @include vp-767 {
    width: 100%;
  }
}

.footer__nav,
.footer__contacts {
  @include vp-767 {
    position: relative;
    border-top: 1px solid rgba(248, 253, 255, 0.7);

    &::before {
      position: absolute;
      content: "";
      top: -1px;
      height: 1px;
      z-index: 1;
      background-color: rgba(248, 253, 255, 0.7);
      left: 100%;
      width: calc((100vw - 100%) / 2);
    }

    &::after {
      position: absolute;
      content: "";
      top: -1px;
      height: 1px;
      z-index: 1;
      background-color: rgba(248, 253, 255, 0.7);
      right: 100%;
      width: calc((100vw - 100%) / 2);
    }
  }
}

.footer__list {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 50px;

  @include vp-1023 {
    display: flex;
    flex-direction: column;
    max-height: 100%;
  }

  @include vp-767 {
    padding-bottom: 20px;
  }
}

.footer__item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  @include vp-767 {
    margin-bottom: 15px;
  }
}

.footer__link {
  font-family: "PT Mono", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.7);

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
  }
}

.footer__accordion-btn {
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-default-white;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  pointer-events: none;

  @include vp-1023 {
    margin-bottom: 25px;
  }

  @include vp-767 {
    pointer-events: all;
    padding: 20px 0;
    width: 100%;
    margin-bottom: 0;

    &:disabled {
      opacity: 0.3;
      pointer-events: none;
    }

    @include hover-focus {
      opacity: 0.5;
    }

    &::before {
      position: absolute;
      content: "";
      right: 0;
      width: 15px;
      height: 1px;
      top: 50%;
      background-color: #c4c4c4;
    }

    &::after {
      position: absolute;
      content: "";
      width: 15px;
      height: 1px;
      right: 0;
      top: 50%;
      background-color: #c4c4c4;
      transform: rotate(90deg);
    }
  }
}

.is-active .footer__accordion-btn::after {
  display: none;
}

.footer__accordions--no-js [data-accordion="content"] {
  max-height: 100%;
}

.footer__accordions--no-js .footer__accordion-btn::after {
  display: none;
}
