.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);
  color: $color-default-white;

  @include vp-1023 {
    position: absolute;
  }
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 35px;

  @include vp-1023 {
    padding-top: 20px;
    padding-bottom: 25px;
  }

  @include vp-767 {
    padding-top: 10px;
    padding-bottom: 20px;
  }
}

.header__contacts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 550px;

  @include vp-1023 {
    margin-right: 20px;
  }

  @include vp-767 {
    margin-right: 10px;
  }
}

.header__item {
  margin-right: 120px;
  margin-bottom: 5px;

  &:last-child {
    margin-right: 0;
  }

  @include vp-1023 {
    margin-right: 20px;
    margin-bottom: 15px;
  }

  @include vp-767 {
    margin-bottom: 0;
  }
}

.header__link {
  font-family: "PT Mono", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $color-light;
  display: flex;
  align-items: center;

  @include vp-1023 {
    padding: 10px;
  }
}

.header__link-text {
  margin-left: 15px;

  @include vp-1023 {
    display: none;
  }
}

.header__button {
  margin-right: 60px;

  @include vp-1023 {
    display: none;
  }
}
