.social {
  display: flex;
  flex-wrap: wrap;
  max-width: 170px;
  margin-left: 15px;

  @include vp-767 {
    margin-left: 0;
  }
}

.social__item {
  margin-right: 25px;
  margin-bottom: 10px;

  &:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
}
